.card{ 
    width: 300px;
    height: 175px;
    background-color: lightblue;
    font-size: 20px;
    border-radius: 5%;
    margin: 20px;
    line-height: 150%;
    color: white;
    display: flex;
    flex-direction: column;
}

.card button { 
    width: 100px;
    align-self: center
}

#progress{ 
    display: flex;
    justify-content: center;
    gap: 10px;
}

#cards{
    display: flex; 
    flex-wrap: wrap;
    margin: 10px 50px;
    flex: 1 1 0;
}

body{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-grow: 2;
    font-family: 'Roboto';
    background-color: aliceblue;
} 

div{ 
    white-space: pre;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{ 
    font-size: 20px;
}

form{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightgray;
    padding: 50px;
    border-radius: 5%;
    position: absolute;
    top: 200px;
    left: 590px;
}

input, label{
    font-size: 20px;
}

.container button { 
    color: white;
    background-color: lightslategray;
    border-radius: 8%;
}